gym==0.21
stable-baselines3[extra,tests,docs]>=1.4.1a1
sb3-contrib>=1.4.1a1
box2d-py==2.3.8
pybullet
gym-minigrid
scikit-optimize
optuna
pytablewriter
seaborn
pyyaml>=5.1
cloudpickle>=1.5.0
plotly
panda-gym==1.1.1 # tmp fix: until compatibility with panda-gym v2
rliable>=1.0.5
